@use '../common';

@include common.animated-drag-drop;
.cdk-drag-preview  {
	display: flex;
	align-items: center;
	padding: 0 16px;
	font-size: 16px;
}

:host {
	width: 60em;
}

section {
	display: flex;
	flex-wrap: wrap;
	height: max-content;
	justify-content: center;
	
	&:not(:first-child) {
		margin-top: 8px;
		padding-top: 16px;
		border-top: common.$border;
	}
	
	h1 {
		width: 100%;
	}
}

button {
	margin: 0 8px;
}

app-subject-form {
	min-width: 20em;
	margin-left: 8px;
	padding-left: 8px;
	border-left: common.$border;
	overflow: hidden;
}
