<form [formGroup]="form">
	<p>
		Les étudiants peuvent déjeuner de
		<mat-form-field appearance="outline" class="inline" hideRequiredMarker floatLabel="always">
			<mat-label>Début</mat-label>
			<input matInput type="number" class="suffixed" formControlName="lunchTimeStart" [min]="firstHour" [max]="form.controls.lunchTimeEnd.value - 1">
			<span matTextSuffix>&nbsp;h</span>
		</mat-form-field>
		à
		<mat-form-field appearance="outline" class="inline" hideRequiredMarker floatLabel="always">
			<mat-label>Fin</mat-label>
			<input matInput type="number" class="suffixed" formControlName="lunchTimeEnd" [min]="form.controls.lunchTimeStart.value + 1" [max]="lastHour + 1">
			<span matTextSuffix>&nbsp;h</span>
		</mat-form-field>
		.
		@if (form.controls.lunchTimeStart.hasError('pattern') || form.controls.lunchTimeEnd.hasError('pattern')) { <mat-error>Les horaires doivent être des entiers.</mat-error> }
		@if (form.controls.lunchTimeStart.hasError('min')) { <mat-error>Le déjeuner ne peut commencer avant {{firstHour}}h.</mat-error> }
		@if (form.controls.lunchTimeEnd.hasError('max')) { <mat-error>Le déjeuner ne peut terminer après {{lastHour + 1}}h.</mat-error> }
		@if (form.controls.lunchTimeStart.hasError('max') || form.controls.lunchTimeEnd.hasError('min')) { <mat-error>L'horaire de début doit être inférieur à celui de fin.</mat-error> }
	</p>
	
	<mat-form-field>
		<mat-label>Combinaison interdite de matières</mat-label>
		<mat-select formControlName="forbiddenSubjectIdsCombination" placeholder="Matière supplémentaire…" multiple>
			@for (subject of this.store.state.subjects; track subject.id) {
				<mat-option [value]="subject.id">{{subject.name}}</mat-option>
			}
		</mat-select>
		@if (form.controls.forbiddenSubjectIdsCombination.hasError('minlength')) { <mat-error>Au moins deux matières doivent être sélectionnées.</mat-error> }
	</mat-form-field>
	  
	<p>Les contraintes <strong>en haut</strong> sont les plus <strong>importantes</strong> et seront imposées en premier.</p>
	<app-objectives formControlName="objectives" />
</form>
