<mat-form-field appearance="fill" [hideRequiredMarker]="true">
	<mat-label *ngIf="label !== undefined">{{label}}</mat-label>
	<mat-chip-grid #chipList>
		<mat-chip-row *ngFor="let integer of integers" [disabled]="disabled" (removed)="remove(integer)">
			{{integer}}
			<button matChipRemove>
				<mat-icon>cancel</mat-icon>
			</button>
		</mat-chip-row>
		<input
			matInput
			[placeholder]="placeholder ?? ''"
			[matChipInputFor]="chipList"
			[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
			(matChipInputTokenEnd)="add($event)"
		/>
	</mat-chip-grid>
</mat-form-field>