<mat-form-field appearance="fill" [hideRequiredMarker]="true">
	@if (label !== undefined) { <mat-label>{{label}}</mat-label> }
	<mat-chip-grid #chipList>
		@for (integer of integers; track $index) {
			<mat-chip-row [disabled]="disabled" (removed)="remove(integer)">
				{{integer}}
				<button matChipRemove>
					<mat-icon>cancel</mat-icon>
				</button>
			</mat-chip-row> 
		}
		<input
			matInput
			[placeholder]="placeholder ?? ''"
			[matChipInputFor]="chipList"
			[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
			(matChipInputTokenEnd)="add($event)"
		/>
	</mat-chip-grid>
</mat-form-field>