<table mat-table [dataSource]="getTableData()" class="mat-elevation-z3">
	<ng-container matColumnDef="subject">
		<th mat-header-cell *matHeaderCellDef rowspan="2">Matière</th>
		<td
			mat-cell *matCellDef="let rowData; index as i"
			[attr.rowspan]="tableSubjectRowspan[i]"
	        [style.display]="tableSubjectRowspan[i] ? '' : 'none'"
			[style.color]="rowData.subject.color"
		>
			{{rowData.subject.name}}
		</td>
	</ng-container>
	
	<ng-container matColumnDef="teacher">
		<th mat-header-cell *matHeaderCellDef rowspan="2">Professeur</th>
		<td
			mat-cell *matCellDef="let rowData; index as i"
			[attr.rowspan]="tableTeacherRowspan[i]"
	        [style.display]="tableTeacherRowspan[i] ? '' : 'none'"
		>
			{{rowData.teacher.name}}
		</td>
	</ng-container>
	
	<ng-container matColumnDef="timeslot">
		<th mat-header-cell *matHeaderCellDef rowspan="2">Créneau</th>
		<td mat-cell *matCellDef="let rowData">{{rowData.timeslot.toString()}}</td>
	</ng-container>
	
	<ng-container matColumnDef="weeks">
		<th mat-header-cell *matHeaderCellDef [attr.colspan]="settings.weeks.length">Semaine</th>
	</ng-container>
	
	<ng-container *ngFor="let week of settings.weeks; index as i" matColumnDef="week-{{week.id}}">
		<th mat-header-cell *matHeaderCellDef [class]="'week-header-cell'">{{week.id}}</th>
		<td mat-cell *matCellDef="let rowData" [class]="rowData.triosByWeek[i] ? 'trio trio-' + rowData.triosByWeek[i].id : ''">{{rowData.triosByWeek[i] ? rowData.triosByWeek[i].id : ''}}</td>
	</ng-container>
	
	<tr mat-header-row *matHeaderRowDef="['subject', 'teacher', 'timeslot', 'weeks']"></tr>
	<tr mat-header-row *matHeaderRowDef="tableWeeksHeaderRowDef"></tr>
	<tr mat-row *matRowDef="let row; columns: ['subject', 'teacher', 'timeslot'].concat(tableWeeksHeaderRowDef)"></tr>
</table>
