<table class="mat-table mat-elevation-z3">
	<thead>
		<tr>
			<th class="hour-cell"></th>
			@for (dayName of dayNames; track $index) {
				<th scope="col">{{dayName}}</th>
			}
		</tr>
	</thead>
	<tbody (mousedown)="onMousedown($event)" (mouseover)="onMouseover($event)">
		@for (hour of hours; track $index) {
			<tr>
				<th class="hour-cell" scope="row">{{hour}}h</th>
				@for (dayName of dayNames; let day = $index; track day) {
					<td
						[class.editable-cell]="editable"
						[class.selected-cell]="isTimeslotSelected(day, hour)"
						[attr.data-day]="day"
						[attr.data-hour]="hour"
					></td>
				}
			</tr>
		}
	</tbody>
</table>

<!-- Load the mat-table style -->
<mat-table style="display: none">
    <mat-header-row *matHeaderRowDef="[]" />
</mat-table>
