<table class="mat-table mat-elevation-z3">
	<thead>
		<tr>
			<th class="hour-cell"></th>
			<th *ngFor="let dayName of dayNames" scope="col">{{dayName}}</th>
		</tr>
	</thead>
	<tbody (mousedown)="onMousedown($event)" (mouseover)="onMouseover($event)">
		<tr *ngFor="let hour of hours">
			<th class="hour-cell" scope="row">{{hour}}h</th>
			<td
				*ngFor="let dayName of dayNames; index as day"
				[class.editable-cell]="editable"
				[class.selected-cell]="isTimeslotSelected(day, hour)"
				[attr.data-day]="day"
				[attr.data-hour]="hour"
			></td>
		</tr>
	</tbody>
</table>

<!-- Load the mat-table style -->
<mat-table style="display: none">
    <mat-header-row *matHeaderRowDef="[]" />
</mat-table>
