@use '../common';

@include common.animated-drag-drop;
.cdk-drag-preview  {
	display: flex;
	align-items: center;
	padding: 0 16px;
	font-size: 16px;
}

:host {
	width: 60em;
}

section {
	display: flex;
	height: max-content;
	justify-content: center;
	
	& > div {
		flex-shrink: 0;
	}
}

button {
	margin: 0 8px;
}

app-group-form {
	min-width: 20em;
	margin-left: 8px;
	padding-left: 8px;
	border-left: common.$border;
	overflow: hidden;
}
