@if (store.state.groups.length >= 2) {
	<app-groups-graph [state]="store.state" (groupClick)="selectedGroupIds = [$event.id]" @scaleAnimation />
}
<section>
	<div>
		<div>
			<button mat-raised-button (click)="addNewGroup()">Ajouter <mat-icon>add</mat-icon></button>
			<button mat-raised-button (click)="deleteGroup()" [disabled]="selectedGroupIds.length === 0">Supprimer <mat-icon>remove</mat-icon></button>
		</div>
		<mat-selection-list
			[multiple]="false" [(ngModel)]="selectedGroupIds"
			[@listAnimation]="store.state.groups.length"
			cdkDropList (cdkDropListDropped)="onDrop($event)"
			(paste)="onPaste($event)"
		>
			@for (group of store.state.groups; track group.id) {
				<mat-list-option cdkDrag [value]="group.id" [appCopyData]="group.toHumanJsonObject(store.state)" appCopyType="group">
					{{group.name}}
				</mat-list-option>
			}
		</mat-selection-list>
	</div>
	
	@if (selectedGroupIds.length > 0) {
		<app-group-form [group]="store.state.findId('groups', selectedGroupIds[0])" @slideAnimation />
	}
</section>
