<div>
	@if (!isRunning) { <button mat-raised-button (click)="compute()">Démarrer le calcul <mat-icon>play_arrow</mat-icon></button> }
	@else { <button mat-raised-button (click)="stopComputation()">Arrêter le calcul <mat-icon>stop</mat-icon></button> }
</div>

@if (isRunning) {
	<mat-progress-bar mode="indeterminate" @insertAnimation />
}

<section>
	<table mat-table #objectivesTable="matTable" [dataSource]="store.state.objectives" class="mat-elevation-z3">
		<ng-container matColumnDef="objective">
			<th mat-header-cell *matHeaderCellDef>Contrainte</th>
			<td mat-cell *matCellDef="let rowData">{{rowData.readableName}}</td>
		</ng-container>
		
		<ng-container matColumnDef="value">
			<th mat-header-cell *matHeaderCellDef>Valeur</th>
			<td mat-cell *matCellDef="let rowData">{{rowData.getValueText()}}</td>
		</ng-container>
		
		<tr mat-header-row *matHeaderRowDef="['objective', 'value']"></tr>
		<tr mat-row *matRowDef="let row; columns: ['objective', 'value']"></tr>
	</table>
	<app-colloscope />
</section>
