<div>
	<button mat-raised-button *ngIf="!isRunning" (click)="compute()">Démarrer le calcul <mat-icon>play_arrow</mat-icon></button>
	<button mat-raised-button *ngIf="isRunning" (click)="stopComputation()">Arrêter le calcul <mat-icon>stop</mat-icon></button>
	<button mat-raised-button [disabled]="settings.colles.length === 0" [matMenuTriggerFor]="saveMenu">Sauvegarder…</button>
	<mat-menu #saveMenu="matMenu" class="no-overflow">
		<button mat-menu-item (click)="saveAsExcel()">Excel (.xlsx)</button>
		<button mat-menu-item (click)="saveAsCsv()">CSV (.csv)</button>
	</mat-menu>
</div>
<mat-progress-bar *ngIf="isRunning" mode="indeterminate" @insertAnimation></mat-progress-bar>
<app-colloscope></app-colloscope>
