<mat-toolbar color="primary">
	<span>KhôlGen</span>
	<div>
		<input #importFileInput type="file" accept="application/json" (change)="importFile()" />
		<button mat-raised-button (click)="startImportFile()">Importer <mat-icon>file_download</mat-icon></button>
		<button mat-raised-button [disabled]="!undoStack.canUndo()" [matMenuTriggerFor]="exportMenu">Exporter… <mat-icon>file_upload</mat-icon></button>
		<mat-menu #exportMenu="matMenu" class="no-overflow">
			<button mat-menu-item (click)="exportFile('json')">JSON (.json)</button>
			<button mat-menu-item (click)="exportFile('xlsx')" [disabled]="!store.state.hasBeenComputed()">Excel (.xlsx)</button>
			<button mat-menu-item (click)="exportFile('csv')"  [disabled]="!store.state.hasBeenComputed()">CSV (.csv)</button>
			<button mat-menu-item (click)="exportFile('ics')"  [disabled]="!store.state.hasBeenComputed()">iCalendar (.ics)</button>
		</mat-menu>
	</div>
</mat-toolbar>

<mat-sidenav-container fullscreen>
	<mat-sidenav mode="side" role="navigation" disableClose opened>
		<mat-nav-list>
			<a mat-list-item routerLink="/groups" routerLinkActive="active">Groupes</a>
			<a mat-list-item routerLink="/subjects" routerLinkActive="active">Matières</a>
			<a mat-list-item routerLink="/teachers" routerLinkActive="active">Enseignants</a>
			<a mat-list-item routerLink="/calendar" routerLinkActive="active">Calendrier</a>
			<a mat-list-item routerLink="/options" routerLinkActive="active">Options</a>
			<a mat-list-item routerLink="/computation" routerLinkActive="active">Calcul</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content [@routeAnimation]="outlet.isActivated ? outlet.activatedRoute.component?.name : ''">
		<router-outlet #outlet="outlet" />
	</mat-sidenav-content>
</mat-sidenav-container>
