@use "sass:map";
@use "@angular/material" as mat;
$palette: mat.define-palette(mat.$indigo-palette);

mat-toolbar {
	justify-content: space-between;
	
	button {
		margin-left: 8px;
	}
	
	input[type=file] {
		display: none;
	}
}

mat-sidenav-container {
	top: 64px !important;
	padding-bottom: 32px;
}

@media(max-width: 599px) {
	mat-sidenav-container {
		top: 56px !important;
	}
}

mat-sidenav {
	width: 200px;
	
	.active {
		color: map.get($palette, 500);
		background: map.get($palette, 50);
	}
}

mat-sidenav-content {
	display: flex;
	justify-content: center;
	
	padding: 16px;
}

/**
 * @bug Float property isn't set by Angular animation, so we set it manually
 * @see animation.ts
 */
:host ::ng-deep .ng-trigger-slideAnimation.ng-animating > .ng-animating {
	float: right;
}
