<mat-toolbar color="primary">
	<span>KhôlGen</span>
	<button mat-raised-button (click)="startImportFile()">Importer <mat-icon>file_download</mat-icon></button>
	<input #importFileInput type="file" accept="application/json" (change)="importFile()" />
</mat-toolbar>

<mat-sidenav-container fullscreen>
	<mat-sidenav mode="side" role="navigation" disableClose="true" opened>
		<mat-nav-list>
			<a mat-list-item routerLink="/subjects" routerLinkActive="active">Matières</a>
			<a mat-list-item routerLink="/computation" routerLinkActive="active">Calcul</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content [@routeAnimation]="outlet.isActivated ? outlet.activatedRoute.component?.name : ''">
		<router-outlet #outlet="outlet"></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
