<form [formGroup]="form">
	<mat-form-field appearance="fill" [hideRequiredMarker]="true">
		<mat-label>Nom</mat-label>
		<input matInput type="text" formControlName="name">
		<mat-error *ngIf="form.controls.name.hasError('notUnique')">Un autre groupe porte déjà ce nom.</mat-error>
	</mat-form-field>
	
	<mat-form-field appearance="fill" [hideRequiredMarker]="true">
		<mat-label>Nombre initial de trinômes</mat-label>
		<input matInput type="number" formControlName="numberOfTrios" min="0">
		<mat-error *ngIf="form.controls.numberOfTrios.hasError('pattern')">Le nombre initial de trinômes doit être un entier.</mat-error>
		<mat-error *ngIf="form.controls.numberOfTrios.hasError('min')">Le nombre initial de trinômes doit être positif.</mat-error>
	</mat-form-field>
	
	<mat-label>Disponibilités</mat-label>
	<app-weekly-timetable formControlName="availableTimeslots"></app-weekly-timetable>
	
	<mat-form-field appearance="fill" [hideRequiredMarker]="true">
		<mat-label>Groupe suivant</mat-label>
		<mat-select formControlName="nextGroupId">
			<mat-option [value]="null" [style.fontStyle]="'italic'">[Aucun]</mat-option>
			<ng-container *ngFor="let nextGroup of store.state.groups">
				<mat-option *ngIf="group !== nextGroup" [value]="nextGroup.id">{{nextGroup.name}}</mat-option>
			</ng-container>
		</mat-select>
	</mat-form-field>
	
	<mat-form-field appearance="fill" [hideRequiredMarker]="true">
		<mat-label>Nombre de semaines avant le passage au groupe suivant</mat-label>
		<input matInput type="number" formControlName="duration" min="1">
		<mat-error *ngIf="form.controls.duration.hasError('pattern')">Le nombre de semaines  doit être un entier.</mat-error>
		<mat-error *ngIf="form.controls.duration.hasError('min')">Le nombre de semaines doit être supérieur ou égal à 1.</mat-error>
	</mat-form-field>
</form>
