<form [formGroup]="form">
	<mat-form-field appearance="fill" [hideRequiredMarker]="true">
		<mat-label>Nom</mat-label>
		<input matInput type="text" formControlName="name">
		@if (form.controls.name.hasError('notUnique')) { <mat-error>Un autre groupe porte déjà ce nom.</mat-error> }
	</mat-form-field>
	
	<app-unique-integers-chip-input formControlName="trioIds" label="Trinômes initiaux" placeholder="Trinôme supplémentaire…" />
	
	<app-weekly-timetable formControlName="availableTimeslots" label="Disponibilités" />
	
	<mat-form-field appearance="fill" [hideRequiredMarker]="true">
		<mat-label>Groupe suivant</mat-label>
		<mat-select formControlName="nextGroupId">
			<mat-option [value]="null" [style.fontStyle]="'italic'">[Aucun]</mat-option>
			@for (nextGroup of store.state.groups; track nextGroup.id) {
				@if (group !== nextGroup) {
					<mat-option [value]="nextGroup.id">{{nextGroup.name}}</mat-option>
				}
			}
		</mat-select>
	</mat-form-field>
	
	<mat-form-field appearance="fill" [hideRequiredMarker]="true">
		<mat-label>Nombre de semaines avant le passage au groupe suivant</mat-label>
		<input matInput type="number" formControlName="duration" min="1">
		@if (form.controls.duration.hasError('pattern')) { <mat-error>Le nombre de semaines doit être un entier.</mat-error> }
		@if (form.controls.duration.hasError('min')) { <mat-error>Le nombre de semaines doit être supérieur ou égal à 1.</mat-error> }
	</mat-form-field>
</form>
