<section>
	<div>
		<div>
			<button mat-raised-button (click)="addNewTeacher()" [disabled]="store.state.subjects.length === 0">Ajouter <mat-icon>add</mat-icon></button>
			<button mat-raised-button (click)="deleteTeacher()" [disabled]="selectedTeacherIds.length === 0">Supprimer <mat-icon>remove</mat-icon></button>
		</div>
		<mat-selection-list [multiple]="false" [(ngModel)]="selectedTeacherIds" [@listAnimation]="store.state.teachers.length" cdkDropListGroup (paste)="onPaste($event)">
			@for (subject of store.state.subjects; track subject.id) {
				<div cdkDropList [cdkDropListData]="subject" [cdkDropListEnterPredicate]="canDrop" (cdkDropListDropped)="onDrop($event)">
					<div mat-subheader [style.color]="subject.color">{{subject.name}}</div>
					@for (teacher of store.state.teachers; track teacher.id) {
						@if (teacher.subjectId === subject.id) {
							<mat-list-option
								cdkDrag [cdkDragData]="teacher"
								[appCopyData]="teacher.toHumanJson(store.state)" appCopyType="teacher"
								[value]="teacher.id"
							>
								{{teacher.name}}
							</mat-list-option>
						}
					}
				</div>
			}
		</mat-selection-list>
	</div>
	@if (selectedTeacherIds.length > 0) {
		<app-teacher-form [teacher]="store.state.findId('teachers', selectedTeacherIds[0])!" @slideAnimation />
	}
</section>
