/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
	&.inline {
		.mat-mdc-form-field-infix {
			padding: 0.3em 0 !important;
			min-height: unset;
		}
		
		.mat-mdc-form-field-icon-suffix {
			padding-right: 0.3em;
		}
		
		.mat-mdc-form-field-bottom-align {
			display: none;
		}
	}
	
	input.suffixed[type="number"] {
		appearance: textfield;
		text-align: right;
		
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			display: none;
		}
	}
}

mat-list-option {
	.mdc-list-item__end {
		display: none;
	}

	.mdc-list-item__primary-text {
		color: inherit !important;
	}

	&[aria-selected="true"] {
		background: rgba(0,0,0,.12);
	}
}

.mat-mdc-option, .mat-mdc-optgroup-label {
	min-height: 42px !important;
}

.mat-mdc-optgroup-label {
	color: #0000008a;
}

.mdc-data-table__table {
	min-width: unset !important;
}

.mat-mdc-header-cell {
	color: #0000008a;
	font-size: 12px;
}

.mdc-button {
	letter-spacing: normal;
}

