/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
	&.inline {
		.mat-form-field-infix {
			padding: 0.3em 0 ;
		}
		
		.mat-form-field-suffix {
			top: auto;
		}
		
		.mat-form-field-wrapper {
			padding-bottom: 0;
		}
	}
	
	input.suffixed[type="number"] {
		-moz-appearance: textfield;
		text-align: right;
		
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			display: none;
		}
	}
}
