/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
	&.inline {
		.mat-mdc-form-field-infix {
			padding: 0.3em 0 !important;
			min-height: unset;
		}
		
		.mat-mdc-form-field-icon-suffix {
			padding-right: 0.3em;
		}
		
		.mat-mdc-form-field-bottom-align {
			display: none;
		}
	}
	
	input.suffixed[type="number"] {
		appearance: textfield;
		text-align: right;
		
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			display: none;
		}
	}
}

mat-list-option {
	.mdc-list-item__end {
		display: none;
	}

	.mdc-list-item__primary-text {
		color: inherit !important;
	}

	&[aria-selected="true"] {
		background: rgba(0,0,0,.12);
	}
}

.mat-mdc-option, .mat-mdc-optgroup-label {
	min-height: 42px !important;
}

.mat-mdc-optgroup-label {
	color: #0000008a;
}

.mdc-data-table__table {
	min-width: unset !important;
}

.mat-mdc-header-cell {
	color: #0000008a;
	font-size: 12px;
}

.mdc-button {
	letter-spacing: normal;
}

/** @todo Use `interpolate-size: allow-keywords` once more compatible, rather than hard-coded max-width and max-height */
.slide-animation {
	&.enter, &.leave {
		min-width: 0;
		min-height: 0;

		max-width: var(--max-width, 40em);
		max-height: var(--max-height, 60em);
	}
	&.enter { animation: 200ms grow; }
	&.leave { animation: 150ms shrink; }
}

.fade-animation {
	&.enter { animation: 250ms fade-in; }
	&.leave { animation: 200ms fade-out; }
}

::view-transition-new(application) {
	animation: 300ms fade-in;
}

::view-transition-old(application) {
	animation: 300ms fade-out;
}

@keyframes grow {
	from {
		max-width: 0;
		max-height: 0;
	}
}

@keyframes shrink {
	to {
		max-width: 0;
		max-height: 0;
	}
}

@keyframes fade-out {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes fade-in {
	from { opacity: 0;  }
	to { opacity: 1; }
}
