<form [formGroup]="form">
	<mat-form-field appearance="fill" [hideRequiredMarker]="true">
		<mat-label>Nom</mat-label>
		<input matInput type="text" formControlName="name">
		@if (form.controls.name.hasError('notUnique')) { <mat-error>Un·e autre enseignant·e de cette matière porte déjà ce nom.</mat-error> }
	</mat-form-field>
	
	<mat-form-field appearance="fill" [hideRequiredMarker]="true">
		<mat-label>Matière</mat-label>
		<mat-select formControlName="subjectId">
			@for (subject of store.state.subjects; track subject.id) {
				<mat-option [value]="subject.id" [style.color]="subject.color">{{subject.name}}</mat-option>
			}
		</mat-select>
	</mat-form-field>
	
	<app-weekly-timetable formControlName="availableTimeslots" label="Disponibilités" />
	
	<mat-form-field appearance="fill" [hideRequiredMarker]="true">
		<mat-label>Disponibilité hebdomadaire <small>(disponible toutes les … semaines)</small></mat-label>
		<input matInput type="number" formControlName="weeklyAvailabilityFrequency" min="1">
		@if (form.controls.weeklyAvailabilityFrequency.hasError('pattern')) { <mat-error>La fréquence de disponibilité doit être un entier.</mat-error> }
		@if (form.controls.weeklyAvailabilityFrequency.hasError('min')) { <mat-error>La fréquence de disponibilité doit être supérieure ou égale à 1.</mat-error> }
	</mat-form-field>
</form>
