@if (data.type === 'connection') {
	<h1 mat-dialog-title>Connexion en cours</h1>
	<mat-dialog-content class="connection">
		<mat-spinner />
		<div>
			La connexion au serveur prend un temps anormalement long.<br />
			Assurez-vous qu'il ait demarré correctement.
		</div>
	</mat-dialog-content>
}
@else if (data.type === 'invalid-json') {
	<h1 mat-dialog-title><mat-icon>error_outlined</mat-icon> Fichier JSON invalide</h1>
	<mat-dialog-content>
		<div [outerHTML]="data.message"></div>
	</mat-dialog-content>
	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close>OK</button>
	</mat-dialog-actions>
}
