<form [formGroup]="form">
	<mat-form-field appearance="fill" hideRequiredMarker>
		<mat-label>Nom</mat-label>
		<input matInput type="text" formControlName="name">
		@if (form.controls.name.hasError('notUnique')) { <mat-error>Une autre période d'interruption porte déjà ce nom.</mat-error> }
	</mat-form-field>
	
	<app-interval-input
		formControlName="interval"
		[dateFilter]="dateFilter"
		label="Début et fin de l'interruption"
		startPlaceholder="Début"
		endPlaceholder="Fin"
	/>

	<mat-checkbox formControlName="weeksNumbering" labelPosition="before">
		Numéroter la semaine associée
	</mat-checkbox>

	<mat-checkbox formControlName="groupsRotation" labelPosition="before">
		Continuer la rotation des groupes
	</mat-checkbox>
</form>
